<div class = "form">
<form method="POST" action="/sign-in">
	<label for ="username">User</label>
	<input type="text" name="username">
	<label for ="password">Pass</label>
	<input type="password" name="password">
	<input type="submit">
</form>
</div>

<p>So much disappointment, bro. Try signing in again.</p>