<div class = "form">
<form method="POST" action="/sign-in">
	<label for ="username">User</label>
	<input type="text" name="username">
	<label for ="password">Pass</label>
	<input type="password" name="password">
	<input type="submit" value="log in">
</form>
</div>

<!-- <div class = "new_users">
	<p>New Users</p>
</div> -->


<%= @user.username if @user %>

<!-- <form method="POST" action="/sign-in">
	<label for ="[user]username">User</label>
	<input type="text" name="username">
	<label for ="[user]password">Pass</label>
	<input type="password" name="password">
	<input type="submit">
</form> -->
