<div id ="new_post">
	<h2>New Post</h2>
<form action="/posts" method="post">
  <label for="post_title">Title:</label><br />
	<textarea id="post_title" name="post[title]" rows="1" cols="100"><%= @post.title %></textarea>
  <br />
  <br />	
  <label for="post_body">Body:</label>
  <br />
  <textarea id="post_body" name="post[body]" rows="30" cols="100"><%= @post.body %></textarea>
  <br />
  <br />
  <input type="submit" value="Publish!" />
</form>
</div>   

